body{
    background-color: rgb(42, 134, 255);
    font: normal 15pt Arial;
}

header{
    text-align: center;
    color: white;
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    border-radius: 20px;
    margin: auto;
}

footer {
    font: italic 18pt Courier;
    text-align: center;
    color: white;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}